*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/app/src/androidTest/java/com/myxoz/life/
/app/src/test/java/com/myxoz/life/
app/release
.kotlin
app/src/main/res/values/mapbox_access_token.xml